@font-face {
	font-family: 'NewsGothicCondensed';
	src: url('../font/NewsGothicCondensed.ttf');
  }
  
  body {
    margin: 0;
    font-family: 'NewsGothicCondensed', sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    text-align: center;
  }
  
  a {
    color: #2DBBFF;
    cursor: pointer;
  }

  .header {
    background-color: #dedede;
    position: relative;
    overflow: hidden;
    box-shadow: -8px -2px 20px 0px #000000
  }
  

    .header ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: #dedede;
    }
    
    .header li a {
      display: block;
      padding: 20px 20px;
      text-decoration: none;
    }
    
    .header li a:hover,
    .header .menu-btn:hover {
      background-color: #333333;
    }
    
    .header .logo {
      display: block;
      float: left;
      font-size: 2em;
      padding: 25px 25px;
      text-decoration: none;
    }

    .header .logo span {
      position: relative;
      top: -10px;
      margin: 20px;
    }
      
    .header .menu {
      clear: both;
      max-height: 0;
      transition: max-height .2s ease-out;
    }
    
    
    .header .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin: 25px;
  }
  
  .header .menu-icon .navicon {
    background: #2DBBFF;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
    
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 100%;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  @media (min-width: 897px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 30px 55px;
      text-align: center;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none; 
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  .site-footer
{
  background-color: #dedede;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  text-align:center

}

hr.custom {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #333333, #2DBBFF, #2DBBFF, #333333);
}

hr.custom::after {
  content: 'ZZWarehouse';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 3px;
  background-color: #dedede;
}

.site-footer .social-icons a
{
  width:50px;
  height:50px;
  margin-left:6px;
  background-color:#333333
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
}


.social-icons a{
  display:inline-block;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}

.social-icons a.github:hover
{
  background-color: white
}

.confirmation-message {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
  padding: 10px;
  margin-bottom: 10px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}